<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="go('/')">
        <img alt="Brand" src="assets/book-icon.png" height="30" width="30"/>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-show="isAdmin()" ng-click="go('cadastro')">Cadastro</a></li>
      <li><a ng-show="isAdmin()" ng-click="signOut()">Logout</a></li>
      <li><a ng-hide="isAdmin()" ng-click="go('login')">Login</a></li>
  </ul>
  </div>
</nav>

<!--PAGINA INICIAL  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <h4>Gênero<input class="form-control" type="text" value="" id="searchType1" ng-model="search.generoId"></h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-6">
      <h4>Editora<input class="form-control" type="text" value="" id="searchType2" ng-model="search.editoraId"></h4>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body">

        <!-- <div>
          <pre>book={{livros | json}}</pre>
        </div> -->
        <!-- Book sample -->
        <div class="thumbnail col-md-3 book" ng-repeat="livro in livros | filter:search">
          <!-- <div>
            <pre>livro={{livro | json}}</pre>
          </div> -->
          <img class="foto" ng-src="{{livro.imagem}}"> <!--Book Img -->
          <div class="caption">
            <h3>{{livro.nome}}</h3>
            <!-- <p>{{book.summary}}</p> -->
          </div>
          <div>
            <a ng-click="go('livro/' + livro.id)" class="btn btn-default pull-right" role="button">More</a> <!-- More Infos -->
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIM PAGINA INICIAL  -->

<script type="text/javascript">
  $('.dropdown-toggle').dropdown();
</script>
