<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="go('/')">
        <img alt="Brand" src="assets/book-icon.png" height="30" width="30"/>
      </a>
    </div>
  </div>
</nav>

<!-- PAGINA DE LOGIN -->
<div class="container-fluid">
 <div class="row">
   <div class="col-md-10 col-md-offset-1">
     <form name="loginAdminForm" ng-submit="submitLoginForm(loginAdminForm.$valid)" novalidate>
         <!-- nome -->
         <div class="form-group">
             <label>Admin's name</label>
             <input type="text" name="name" class="form-control" ng-model="admin.name" required>
         </div>
         <!-- senha -->
         <div class="form-group">
             <label>Admin's password</label>
             <input type="password" name="password" class="form-control" ng-model="admin.password" required>
         </div>
       <button type="submit" class="btn btn-primary">Submit</button>
     </form>
    </div>
 </div>
</div>
<!-- FIM PAGINA DE LOGIN -->


<script type="text/javascript">
  $('.dropdown-toggle').dropdown();
</script>
